<div class="footer">
  <p>
    You may look up the weather in different country, state or city by using the
    dropdown options or get type the name into the search bar. If you get no
    result, it may be one of many things - searched name is incorrectly spelled
    or there's no data for that location. See source code for this project on
    <a href="https://github.com/kunle05/kunle-weather-app" target="_blank">
      Github.
    </a>
  </p>
  <p>
    This app does not utilize the Angular Google Map Module, I had already
    started developing following the
    <a
      href="https://developers.google.com/maps/documentation/javascript/examples/geocoding-simple"
      target="_blank"
      >Google Maps JavaScript documentation</a
    >.
  </p>
</div>
