<div>
  <mat-form-field
    *ngFor="let field of fieldsets; let i = index"
    appearance="fill"
  >
    <mat-label>{{ field.name }}</mat-label>
    <mat-select
      (selectionChange)="onChange($event, field.name)"
      [disabled]="isLoading || field.value.length === 0"
      required
    >
      <mat-option
        *ngFor="let item of field.value"
        [value]="{ key: item.key, val: item.value }"
      >
        {{ item.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    (click)="submit()"
    [disabled]="isLoading || !selectedValue"
    mat-raised-button
    class="button"
  >
    Get Temperature
  </button>
</div>
