.mat-card {
  min-height: 125px;
}
.mat-card-content * {
  margin-bottom: 0;
  text-align: center;
}
.mat-card-content span {
  margin-right: 4px !important;
}
.temp {
  font-size: 24px;
}
.smallFont {
  font-size: 13px;
  line-height: 1.3;
}
.badge:hover {
  cursor: pointer;
}
.mat-card-content.d-flex {
  flex-direction: column;
  justify-content: center;
}
